 *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 .image-container{
    margin: 10% 25%;
    }
    .nature-img{
    display: block;
    height: 40vh;
    width: 50vw;
    }
    .clickme_btn{
    display: block;
    background-image: linear-gradient(to right, yellow , green);
    height:8vh;
    width: 50vw;
    font-size: 5vmin;
    border: none;
    
    
    
    }