*{

    box-sizing: border-box;
}

.logo{
    position: relative;
    padding: 5px;
}
.user{
    position: relative;
    float:right;
   color: rgb(12, 131, 171);
   background-color:rgb(204, 244, 244);
    border-radius: 2px;
    text-align: right;
    padding: 5px;
}
ul{
    list-style: none;
    text-align:center;
    word-spacing: 10px; 
} 

li{
    display: inline;
}
.left{
    display: inline-block;
    width: 300px;
    padding: 20px;
}
.c1{
    margin: 10%;
    
}
div{
    justify-content: center;
    float:left;
    padding: 120px;
}
.img{
    
  
    align-items: center;
    width: 200px;
    height: 200px;    
    
}
.lan{
    color: rgb(13, 183, 240);
}
.button{
    color: white;
    background-color: rgb(36, 138, 228);
    padding: 10px;
    border-radius: 5px;
    
}